html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.pendu {
  padding: 1em;
  background: white;
  color: black;
  font-family: 'Operator Mono SSm', 'Source Code Pro', 'DejaVu Sans Mono',
  'Menlo', 'Monaco', 'Inconsolata', 'Consolas', monospace;
  font-size: 32px;
}

.pendu .display {
  text-align: center;
  letter-spacing: 0.1em;
}

.pendu .lettres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pendu .lettres button {
  width: 7.5%;
  margin-bottom: 0.2em;
  padding: 0.2em 0;
  font-size: 1em;
  border: 0.1em solid black;
  border-radius: 0.2em;
  background: white;
}

.pendu .lettres button[disabled] {
  border-color: silver;
  color: silver;
  cursor: not-allowed;
}

pendu.won .display {
  color: green;
}

.pendu.won .lettres {
  justify-content: space-around;
}

.pendu.won .lettres button:not(.replay) {
  border-color: #dfd;
  color: #dfd;
  cursor: not-allowed;
}

.pendu.won .lettres button.replay {
  width: auto;
  border-color: green;
  color: green;
  padding: 0.2em 1em;
}

.pendu.won .lettres button.replay:hover,
.pendu.won .lettres button.replay:active {
  color: white;
  background: green;
}

